
<div class="panel panel-default">
    <div style="min-height: 50px;" class="panel-heading">Novedades Mecanicas
    </div>
    <div class="panel-content">
    <center>
        <% if @novedades_mecanicas.any? %>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:fecha) %></th>
              <th><%= model_class.human_attribute_name(:observacion) %></th>
            </tr>
          </thead>
          <tbody>
            <% @novedades_mecanicas.each do |novedad| %>
              <tr>
                <td><%=link_to novedad.fecha, [obj_to_show,novedad] %></td>
                <td><%=link_to novedad.observacion, [obj_to_show,novedad] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate(@novedades_mecanicas) %>
        <% else %>
        </br>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_unidad_novedad_mecanica_path(obj_to_show),
                    :class => 'btn btn-primary' %>
        </br>
        <% end %>
        </center>
    </div>
</div>
