<%= semantic_form_for @proveedor, :html => { :class => "form-horizontal unidad" } do |f| %>
  <%#= f.semantic_errors %>
  <%= render 'shared/error_handler', :obj_errors => @proveedor.errors %>

  <%#= render('shared/common_form_buttons') %>

  <%= f.inputs(:class => :column_left ) do %>
    <%= f.input :nombre %>
  <% end %>


  <%= render('shared/items_direcciones' , :f => f)%>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                proveedores_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
