<%- model_class = NotaPedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:numeroserie) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @notas_pedidos.each do |nota_pedido| %>
      <tr>
        <td><%= nota_pedido.numeroserie %></td>
        <td><%= nota_pedido.fecha %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_nota_pedido_path,
            :class => 'btn btn-primary' %>
