<% content_for(:breadcrumbs) do %>
    <%= breadcrumbs do |b|
      b.item current_taller.nombre.titlecase, root_path
      b.item @comprobantable.class.model_name.human, @comprobantable.class
      b.item @comprobantable.full_name, @comprobantable
      b.item @nota_pedido.type_and_number, [@comprobantable, @nota_pedido], :active => true
    end %>
<%end%>

<% content_for(:sidebar) do %>
<div class="block">
  <div class='navigation'>
    <ul>

      <% if can?( :update, NotaPedido) %>
        <li class="fa fa-pencil fa-lg"> <%= link_to "Editar", [:edit, @comprobantable, @nota_pedido] %></li>
      <% end %>

    </ul>
  </div>
</div>
<% end %>


<%= render 'shared/datos_comprobante' , :obj_to_show => @nota_pedido, :comp_to_show => @comprobantable  %>

<%= render 'shared/detalles_comprobante' , :obj_to_show => @nota_pedido %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              @comprobantable, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              [:edit, @comprobantable, @nota_pedido], :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              [@comprobantable, @nota_pedido],
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

