<table class="table">
  <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr>
      <th> Fecha </th>
      <td class="dat"> <%= obj_to_show.fecha %> </td>
      <th> Comprobante </th>
      <td class="dat"> <%= obj_to_show.numero_comprobante %> </td>
    </tr>
    <tr>
      <th> Patente </th>
      <td class="dat"> <%= comp_to_show.patente %> </td>
      <th> Marca </th>
      <td class="dat"> <%= comp_to_show.marca %> </td>
    </tr>
    <tr>
      <th> Cantidad de items en el comprobante </th>
      <td class="dat"> <%= obj_to_show.count_items %> </td>
      <th> Observaciones </th>
      <td class="dat"> <%= obj_to_show.observation unless obj_to_show.observation.nil? %> </td>
    </tr>
  </tbody>
</table>
