<hr class='clear' />
<h2 class='items-title'>Detalles</h2>

<%= f.inputs do %>
  <div class="detalles">
    <%= f.semantic_fields_for :detalles_unidades do |fc| %>
      <%= render partial: 'shared/detalle_unidad_fields', locals: {f: fc} %>
    <% end %>
    <%= f.semantic_fields_for :detalles_deposito do |fc| %>
      <%= render partial: 'shared/detalle_deposito_fields', locals: {f: fc} %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'Agregar Detalle con destino Unidad', f,
      :detalles_unidades,
      partial: 'shared/detalle_unidad_fields',
      'data-association-insertion-method' => :append,
      'data-association-insertion-node' => '.detalles',
      :class => 'global_button button'%>
      
      <%= link_to_add_association 'Agregar Detalle con destino Taller', f,
        :detalles_deposito,
        partial: 'shared/detalle_deposito_fields',
        'data-association-insertion-method' => :append,
        'data-association-insertion-node' => '.detalles',
        :class => 'global_button button'%>
  </div>
<% end %>
