<p id="notice"><%= notice %></p>

<h3>Listing Comprobantes</h3>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Numeroserie</th>
      <th>Fecha</th>
      <th>Observation</th>
      <th>Comprobantable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comprobantes.each do |comprobante| %>
      <tr>
        <td><%= comprobante.type %></td>
        <td><%= comprobante.numeroserie %></td>
        <td><%= comprobante.fecha %></td>
        <td><%= comprobante.observation %></td>
        <td><%= comprobante.comprobantable %></td>
        <td><%= link_to 'Show', comprobante %></td>
        <td><%= link_to 'Edit', edit_comprobante_path(comprobante) %></td>
        <td><%= link_to 'Destroy', comprobante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comprobante', new_comprobante_path %>
