<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @comprobante.type %>
</p>

<p>
  <strong>Numeroserie:</strong>
  <%= @comprobante.numeroserie %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comprobante.fecha %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @comprobante.observation %>
</p>

<p>
  <strong>Comprobantable:</strong>
  <%= @comprobante.comprobantable %>
</p>

<%= link_to 'Edit', edit_comprobante_path(@comprobante) %> |
<%= link_to 'Back', comprobantes_path %>
