<% content_for(:filtros) do %>
<div id="filters" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
  <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Filtros</a></h3>
  <div class="filters-content">

  <%= search_form_for @search, :builder => Formtastic::FormBuilder, class: "formtastic search" do |f| %>
     <%= f.inputs do %>
        <%= f.input :descripcion_cont, :label => "Descripcion" %>
     <% end %>
     <%= f.actions do %>
        <%= button_tag(:class => "button submit", 'data-disable-with' => "Buscando...", style: "float: center;") do
          content_tag(:i, "Buscar" , :class => "fa fa-check fa-lg")
        end %>
     <% end %>
  <% end %>
  </div>
</div>
<%end%>
